.login-label {
  padding-bottom: 20px;
  text-align: center;
}
.club,
.diamond,
.spade {
  font-size: 100px;
}
.diamond,
.heart {
  color: red;
}

.game-section .heart {
  line-height: 163px;
  font-size: 61px;
}
.heart {
  color: red;
}

.game-section .initial-spin-msg {
  line-height: 163px;
}
.initial-spin-msg {
  text-align: center !important;
}

.text-center {
  text-align: center !important;
}

.p-b-3 {
  padding-bottom: 15px;
}
.mx-auto {
  margin: auto;
}
